Options -Indexes

RewriteEngine On

# Pastikan RewriteBase mengarah ke folder proyekmu jika tidak pakai virtual host
# RewriteBase /public/ 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]